
body#comments {

	#main {
		padding: 0 0 0 280px;
	}

	#threads_list {
		float: left;
		width: 280px;
		height: 100%;
		margin: 0 0 0 -280px;
		padding: 0;
		overflow: visible;
		overflow-y: scroll;
		border-right: 1px solid $main-rule-color;
		@include box-sizing(border-box);

		li {
			position: relative;
			padding: 25px;
			list-style: none;
			margin: 0;
			cursor: pointer;
			border-bottom: 1px solid $main-rule-color;
			background: $main-bg-color;
			@include transition(box-shadow .3s, background .3s);

			&:hover {
				background: $selection-color;
			}

			&.unread {
				@include box-shadow(inset 3px 0 0 0 $success-color);
			}

			&.selected {
				background: $single-selection-color;
			}

			> div {
				@extend .clear-after;

				+ div {
					margin-top: 5px;
				}
			}

			strong {
				@include truncate-line;
				width: 160px;
				display: block;
				float: left;
				color: $primary-color;
			}
			time {
				@include truncate-line;
				width: 69px;
				display: block;
				float: right;
				text-align: right;
				color: $muted-color;
			}
			b {
				display: block;
			}
			span {
				color: $muted-color;
				display: block;
				@include truncate-line;
			}
		}
	}

	#thread {
		position: relative;
		float: left;
		height: 100%;
		width: 100%;

		#comments_list {
			position: relative;
			height: 100%;
			padding: 25px;
			padding-top: 25px + 88px;
			overflow: hidden;
			overflow-y: scroll;
			@include box-sizing(border-box);

			.comment {
				@extend .clear-after;

				position: relative;
				margin-bottom: 40px;
				padding-left: 48px + 25px;

				.avatar {
					width: 48px;
					float: left;
					margin-left: -48px - 25px;

					img {
						display: inline-block;
						width: 48px;
						height: 48px;
						@include border-radius(3px);
					}
				}

				.box {
					position: relative;

					.user {
						margin-bottom: 10px;

						a {
							font-weight: bold;

							small {
								font-weight: normal;
								color: $muted-color;
							}
						}
						time {
							position: absolute;
							right: 0;
							color: $muted-color;
						}
					}

					.controller {
						@extend .menu;
						@extend .compact;

						margin-top: 10px;

						li {
							margin-right: 10px;

							&.divider {
								display: block;
								width: 1px;
								background: #ddd;
								height: 15px;
								margin: 3px 15px 0 5px;
							}

							a {
								color: $muted-color;

								&:before {
									position: relative;
									font-size: 22px;
									vertical-align: -2px;
								}

								&:hover {
									color: $primary-color;
								}

								&.icon-good:before {
									top: -1px;
								}
								&.icon-bad:before {
									top: 1px;
								}

								$colors:
									good   $success-color,
									bad    $danger-color;

								@each $color in $colors {
									&.icon-#{nth($color, 1)} {
										color: nth($color, 2);

										&.active {
											font-weight: bold;
										}

										&:before {
											color: $muted-color;
											@include transition(color .3s);
										}

										&.active:before,
										&:hover:before {
											color: nth($color, 2) !important;
										}
									}
								}
							}
						}
					}
					.edit {
						position: relative;

						textarea {
							display: block;
							margin-bottom: 10px;
							width: 100%;
						}

						> .btn {
							margin-right: 10px;
						}
					}
				}

			}
		}

		#new_comment {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: 100;
			min-height: 48px;
			padding: 25px 157px 25px 93px;
			background: $titlebar-bg-color;
			background: $main-bg-color;
			cursor: text;
			@include transition(box-shadow .3s);

			&.scrolling {
				@include box-shadow(0 6px 0 -3px rgba(#000, .05));
			}

			> img {
				position: absolute;
				top: 25px;
				left: 25px;
				@include border-radius(3px);
			}

			textarea {
				display: block;
				width: 100%;
			}

			button {
				position: absolute;
				top: 25px;
				right: 25px;
			}
		}
	}

}
