
body#media {

	#media_list {
		@extend .clear-after;
		list-style: none;
		padding: 0;
		width: 100%;
		margin: 0;
		overflow: visible !important;

		li {
			display: block;
			position: relative;
			float: left;
			width: 20%;
			padding: 0;
			margin-bottom: 20px;
			@include transition(top .2s, left .2s);

			&.appended {
				top: 100%;
			}
		}

		.preview-image {
			position: relative;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			@include background-size(cover);
			@include box-sizing(border-box);
			width: 100%;
			margin: 0 auto;
			@include experimental(user-select, none);
			@include box-shadow(inset 0 0 0 3px rgba($globalnav-bg-color, .7));
			@include transition(box-shadow .2s, background-position .2s);
			cursor: pointer;

			&:hover {
				@include transition(box-shadow .2s);
			}

			&:before {
				content: "";
				display: block;
				padding-top: 100%;
			}

			.info {
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -37px 0 0 -50px;
				color: $muted-color;

				span {
					display: table-cell;
					height: 100px;
					width: 100px;
					vertical-align: middle;
					text-align: center;

					line-height: 1;
					margin-bottom: 5px;
					font-size: 13px;
					font-weight: bold;
					text-transform: uppercase;
					letter-spacing: 2px;
					text-align: center;

					&:before {
						font-size: 48px;
						display: block;
						width: 100%;
						margin-bottom: 2px;
						text-align: center;
					}
				}
			}

			.title {
				position: absolute;
				top: 3px;
				left: 3px;
				right: 3px;
				background: rgba($globalnav-bg-color, .7);
				@include transition(box-shadow .2s);

				&:after {
					content: "";
					display: block;
					position: absolute;
					bottom: -12px;
					left: 12px;
					width: 0;
					height: 0;
					border: 6px solid transparent;
					border-top-color: rgba($globalnav-bg-color, .7);
					@include transition(border-color .2s);
				}

				span {
					display: block;
					height: 37px;
					padding: 7px 12px;
					font-size: 11px;
					@include box-sizing(border-box);
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;
					color: #fff;
				}

			}

			&.file {
				@include box-shadow(inset 0 0 0 3px $muted-color);

				.title {
					background: $muted-color;

					&:after {
						border-top-color: $muted-color;
					}
				}
			}
		}

		li:hover .preview-image {
			@include box-shadow(
				inset 0 0 0 3px rgba($globalnav-bg-color, .7),
				0 0 0 4px rgba(#000, .05)
			);

			&.file {
				@include box-shadow(
					inset 0 0 0 3px $muted-color,
					0 0 0 4px rgba(#000, .05)
				);
			}
		}

		li.selected .preview-image {
			@include box-shadow(inset 0 0 0 3px $primary-color !important);
			.title {
				background: $primary-color;
				&:after {
					border-top-color: $primary-color;
				}
			}
		}
		&.bulk li.selected .preview-image {
			@include box-shadow(inset 0 0 0 3px $success-color !important);
			.title {
				background: $success-color;
				&:after {
					border-top-color: $success-color;
				}
			}
		}

	}

	#bottom_of_list {
		height: 1px;
		width: 100%;
	}

	#dropzone {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: $main-bg-color;
		@include box-shadow(inset 0 0 0 10px rgba(#000, .25));

		p {
			position: relative;
			top: 50%;
			margin-top: -12px;
			color: $muted-color;
			font-size: 24px;
			text-align: center;
		}
	}

	#main.upload {
		#media_list {
			display: none;
		}
		#dropzone {
			display: block;
		}
	}

	#pocket_side {
		div[data-state=grid] {
			position: absolute;
			top: 50%;
			margin-top: -150px;

			p {
				display: table-cell;
				height: 300px;
				width: 260px;
				vertical-align: middle;
				text-align: center;
				font-size: 14px;
				color: rgba($side-text-color, .5);

				i {
					display: block;
					font-size: 80px;
					margin: -40px 0 -10px;
				}
			}
		}
	}

	#edit_medium {
		.modal-content {
			background: url(media/checkered.png) repeat;
			overflow: scroll;
		}

		.jcrop-holder {
			background: transparent !important;
		}

		&.loading {
			#cropbox {
				display: none;
			}

			.modal-content {
				background-image: none;

				&:before {
					content: "";
					@include loading-cube;
				}
			}
		}
	}


	#modal_container {
		.modal-footer {
			.btn {
				float: right;
				margin-left: 10px;
			}

			#footer_preview {
				width: 80%;
				height: 35px;
				overflow: hidden;
				float: left;

				figure {
					float: left;
					display: block;
					margin-right: 10px;
					width: 35px;
					height: 35px;
					cursor: pointer;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					@include background-size(cover);
					@include box-shadow(inset 0 0 0 1px rgba(#000, .3));
				}
			}
		}
	}

}
