
#main
  %ul#threads_list

  #thread.loader
    #new_comment
      = image_tag current_user.avatar_url, size: '48x48'
      = text_area :comment, :content, placeholder: '新しいコメントを書く...', rows: 1, class: 'textareaa'
      = button_tag 'コメントする', class: 'btn btn-primary'

    #comments_list
