
#main
  %ul#threads_list

  #thread.loader
    #new_comment
      = text_area :comment, :content, placeholder: '新しいコメントを追加', rows: 1
      = button_tag '送信', class: 'btn btn-primary'

    #comments_list
