
#main
  %ul
    - @taxonomies.each do |taxonomy|
      %li
        = taxonomy.name
        (by #{taxonomy.terms.size})
        %br
        = link_to '[Edit]', edit_admin_taxonomy_path(taxonomy)
        = link_to '[Delete]', admin_taxonomy_path(taxonomy), remote: true, method: :delete
