<a href="<%= user_path %>" class="avatar" target="_blank">
	<img src="<%= user_avatar %>" alt="" width="64" height="64">
</a>
<div class="box">
	<div class="user">
		<a href="<%= user_path %>" target="_blank">
			<%= user_name %>
			<small>@<%= user_username %></small>
		</a>
		<time data-timestamp="<%= timestamp * 1e3 %>"></time>
	</div>
	<div class="message">
		<%= markdown %>
	</div>
	<div class="controller">
		<% if (!by_me) { %>
			<a class="icon-reply">返信する</a>
		<% } %>
		<% if (by_me) { %>
			<a class="icon-edit">編集する</a>
		<% } %>
		<a class="icon-delete">削除する</a>
	</div>
	<div class="edit hide">
		<textarea class="textarea" rows="10"></textarea>
		<button class="btn btn-success">保存する</button>
		<button class="btn btn-danger">キャンセルする</button>
	</div>
</div>
