<a href="<%= user_path %>" class="avatar" target="_blank">
	<img src="<%= user_avatar %>" alt="" width="64" height="64">
</a>
<div class="box">
	<div class="user">
		<a href="<%= user_path %>" target="_blank">
			<%= user_name %>
			<small>@<%= user_username %></small>
		</a>
		<time data-timestamp="<%= timestamp * 1e3 %>"></time>
	</div>
	<div class="message">
		<%= markdown %>
	</div>
	<ul class="controller">
		<li><a class="icon-good <%= my_rating == 'like' ? 'active' : '' %>" title="高評価"><%= like_counts %></a></li>
		<li><a class="icon-bad <%= my_rating == 'dislike' ? 'active' : '' %>" title="低評価"><%= dislike_counts %></a></li>
		<li class="divider"></li>
		<% if (!by_me) { %>
			<li><a class="icon-reply">返信する</a></li>
		<% } %>
		<% if (by_me) { %>
			<li><a class="icon-edit">編集する</a></li>
		<% } %>
		<li><a class="icon-delete">削除する</a></li>
	</ul>
	<div class="edit hide">
		<textarea class="textarea" rows="10"></textarea>
		<button class="btn btn-success">保存する</button>
		<button class="btn btn-danger">キャンセルする</button>
	</div>
</div>
