<a href="<%= user_path %>" class="avatar" target="_blank">
	<img src="<%= user_avatar %>" alt="" width="64" height="64">
</a>
<div class="box">
	<div class="user">
		<a href="<%= user_path %>" target="_blank">
			<%= user_name %>
			<small>@<%= user_username %></small>
		</a>
		<time data-timestamp="<%= timestamp * 1e3 %>"></time>

		<div class="controller">
			<% if (!by_me) { %>
				<button class="btn-link btn-success icon-reply" title="返信"></button>
			<% } %>
			<% if (by_me) { %>
				<button class="btn-link btn-primary icon-edit" title="コメントを編集"></button>
			<% } %>
			<button class="btn-link btn-danger icon-delete" title="このコメントを削除"></button>
		</div>
	</div>
	<div class="message">
		<%= markdown %>
	</div>
	<div class="edit hide">
		<textarea class="textarea" rows="10"></textarea>
		<button class="btn btn-success icon-check size-small" title="保存"></button>
		<button class="btn btn-danger icon-ban size-small" title="変更を破棄"></button>
	</div>
</div>
