
/*=== Global Nav
==============================================================================================*/
#globalnav {
	position: relative;
	background: $header-bg-color;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	z-index: 0;
	opacity: 1;
	overflow: hidden;

	@include transition(opacity .3s .3s);
	@include experimental(user-select, none);

	body.loader & {
		opacity: 0;
	}

	nav {
		display: block;
		position: absolute;
		top: 70px;
		left: 0;
		bottom: 0;
		width: 250px;
		overflow: hidden;

		body.globalnav-open & {
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}
}

/*	Site Menu
-----------------------------------------------*/
#sitemenu {
	padding: 0;
	margin: 0;
	position: relative;

	> li {
		list-style: none;
		padding: 0;

		> ul {
			display: none;
		}

		> a {
			position: relative;
			display: block;
			padding: 21px;
			font-size: 12px;
			color: $header-text-color;

			&:before {
				font-size: 28px;
				vertical-align: -3px;
				padding-right: 40px;
				color: rgba($header-text-color, .4);

				body.globalnav-open & {
					padding-right: 10px;
				}

				@include transition(color .3s, padding-right .3s);
			}
		}

		& > a:hover {
			color: $header-text-color;
			background: rgba(#000, .1);

			&:before {
				color: $primary-color;
			}
		}
		&.selected > a {
			color: $menubar-bg-color;
			background: $primary-color;

			&:before {
				opacity: 1;
				color: rgba(#000, .5);
				color: $menubar-bg-color;
			}

			&:after {
				content: "";
				@include arrow(bottom, 7px, $header-bg-color, 50%, 100%);
			}
		}
	}
}

/*	User Menu
-----------------------------------------------*/
#usermenu {
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 70px;
	@extend .compact;
	@extend .menu;
	background: rgba(#000, .3);

	> li {
		&:first-child > a {
			padding: 18px;
			width: 34px;
			height: 34px;
		}

		> a {
			display: block;
			position: relative;
			padding: 15px 18px 16px;
			height: 39px;
			width: 54px;
			text-align: center;
			font-size: 10px;
			color: $header-text-color;

			&:hover {
				color: $primary-color;
			}

			&:before {
				width: 100%;
				text-align: center;
				font-size: 22px;
				padding: 0 0 2px;
				display: block;
			}

			img {
				@include border-radius(2px);
				@include box-shadow(0 0 0 1px rgba(#000, .3));
			}

			span.notifications {
				position: absolute;
				right: 10px;
				top: 10px;
				font-size: 10px;
				font-weight: bold;
				padding: 0;
				line-height: 16px;
				background: $primary-color;
				height: 16px;
				min-width: 16px;
				text-align: center;
				color: $menubar-bg-color;
				@include border-radius(16px);
				@include box-shadow(0 0 0 1px rgba(#000, .4));
			}
		}
	}
}

/*	Notification
-----------------------------------------------*/
#notification {

	opacity: 0;
	@include transition(opacity .3s);

	body.globalnav-open & {
		opacity: 1;
	}

	> .title {
		margin: 25px 0;
		padding: 0 25px;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 1px;
		cursor: default;
		color: $header-text-color;
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 250px;
		color: $header-text-color;
		font-size: 11px;

		li {
			@extend .clear-after;

			padding: 15px 25px;
			@include transition(background .3s);
			cursor: default;
			position: relative;

			&:hover {
				background: rgba(#000, .1);
			}

			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 6px;
				height: 6px;
				top: 50%;
				left: 10px;
				margin-top: -3px;
				@include border-radius(3px);
				background: $primary-color;
				opacity: 1;
				visibility: visible;
				@include transform(scale(1));
				@include transition(all .3s ease, visibility 0s .3s);
			}
			&.read:before {
				opacity: 0;
				@include transform(scale(1.5));
				visibility: hidden;
			}

			.message {
				line-height: 1.6;

				time {
					display: block;
					color: rgba($header-text-color, .4);
				}
			}
		}
	}

}
