
/*=== Global Nav
==============================================================================================*/
#globalnav {
	position: relative;
	background: $globalnav-bg-color;
	top: 0;
	left: 0;
	height: 100%;
	width: 250px;
	z-index: 0;
	opacity: 1;
	overflow: hidden;

	@include transition(opacity .3s .3s);
	@include experimental(user-select, none);

	body.loader & {
		opacity: 0;
	}

	nav {
		display: block;
		position: absolute;
		top: 70px;
		left: 0;
		bottom: 0;
		width: 250px;
		overflow: hidden;

		body.globalnav-open & {
			overflow-x: hidden;
			overflow-y: scroll;
		}
	}
}

/*	Site Menu
-----------------------------------------------*/
#sitemenu {
	padding: 0;
	margin: 0;
	position: relative;

	> li {
		list-style: none;
		padding: 0;

		> ul {
			display: none;
		}

		> a {
			position: relative;
			display: block;
			padding: 21px;
			font-size: 12px;
			color: $globalnav-text-color;

			&:before {
				font-size: 28px;
				vertical-align: -3px;
				padding-right: 40px;
				color: rgba($globalnav-text-color, .4);
				@include transition(color .3s, padding-right .15s);

				body.globalnav-open & {
					padding-right: 18px;
				}
			}
		}

		& > a:hover {
			color: $globalnav-text-color;
			background: rgba(#000, .1);

			&:before {
				color: $primary-color;
			}
		}
		&.selected > a {
			color: $titlebar-bg-color;
			background: $primary-color;

			&:before {
				opacity: 1;
				color: rgba(#000, .5);
				color: $titlebar-bg-color;
			}

			&:after {
				content: "";
				@include arrow(left, 7px, $main-bg-color);
				@include transition(left .15s .3s);
				top: 50%;
				margin-top: -7px;
				left: 70px - 7px;

				body.globalnav-open & {
					left: 250px - 7px;
					@include transition(none);
				}
			}
		}
	}
}

/*	User Menu
-----------------------------------------------*/
#usermenu {
	@extend .compact;
	@extend .menu;

	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
	height: 70px - 1px;
	border-bottom: 1px solid rgba(#000, .2);

	> li {
		> a {
			display: block;
			position: relative;
			padding: 15px 18px 16px;
			height: 39px;
			color: $globalnav-text-color;

			&:hover {
				color: $primary-color;
			}
		}

		&.avatar > a {
			padding: 18px;
			width: 158px;
			height: 34px;
			line-height: 0;

			img {
				@include border-radius(2px);
				@include box-shadow(0 0 0 1px rgba(#000, .3));
				vertical-align: top;
				margin-right: 40px;
				@include transition(color .3s, margin-right .15s);

				body.globalnav-open & {
					margin-right: 18px;
				}
			}

			.name {
				line-height: 34px;
				font-weight: bold;
			}

			.notification-count {
				position: absolute;
				left: 40px;
				top: 10px;
				@include box-shadow(0 0 0 1px rgba(#000, .4));
			}
		}

		&.logout {
			width: 56px;

			i, i:before {
				font-size: 22px;
				line-height: 33px;
			}
		}
	}
}

/*	Notification
-----------------------------------------------*/
#notification {

	opacity: 0;
	@include transition(opacity .3s);
	border-top: 1px solid rgba(#000, .2);

	body.globalnav-open & {
		opacity: 1;
	}

	> .title {
		margin: 25px 0 25px;
		padding: 0 25px;
		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		letter-spacing: 1px;
		cursor: default;
		color: $globalnav-text-color;

		span.notification-count {
			margin-left: 10px;
		}
	}

	> ul {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 250px;
		color: $globalnav-text-color;
		font-size: 11px;

		li {
			@extend .clear-after;

			padding: 15px 25px;
			@include transition(background .3s);
			cursor: default;
			position: relative;

			&:hover {
				background: rgba(#000, .1);
			}

			&:before {
				content: "";
				position: absolute;
				display: block;
				width: 6px;
				height: 6px;
				top: 50%;
				left: 10px;
				margin-top: -3px;
				@include border-radius(3px);
				background: $primary-color;
				opacity: 1;
				visibility: visible;
				@include transform(scale(1));
				@include transition(all .3s ease, visibility 0s .3s);
			}
			&.read:before {
				opacity: 0;
				@include transform(scale(1.5));
				visibility: hidden;
			}

			.message {
				line-height: 1.6;

				time {
					display: block;
					color: rgba($globalnav-text-color, .4);
				}
			}
		}
	}

}
