
/*=== Body
==============================================================================================*/
html, body { height: 100%; }
body {
	background: $body-bg-color;
	font: 12px/1.6 $family;
	color: $body-text-color;
	text-align: center;
	min-height: 100%;
	@include experimental(font-smoothing, antialiased);

	> * { text-align: left; }
}

/*	Text selection
-----------------------------------------------*/
::-moz-selection {
	background: rgba(0, 163, 217, .3);
	text-shadow: none !important;
}
::selection {
	background: rgba(0, 163, 217, .3);
	text-shadow: none !important;
}


/*=== Menubar
==============================================================================================*/
#menubar {
	position: absolute;
	left: 0;
	top: 55px;
	height: 60px;
	width: 100%;
	@include experimental(user-select, none);

	h1 {
		font-size: 20px;
		padding: 20px 20px;
		line-height: 1;
		letter-spacing: 1px;
		cursor: default;
	}

	[class*="icon-"] {
		@include inline-block;
		color: rgba($body-text-color, .5);
		margin: -14px 0 -10px 10px;
		@include transition(.3s linear);

		&:before {
			display: block;
			font-size: 24px;
			padding-right: 0;
		}

		&:hover {
			color: $success-color;
		}
	}

	.icon-delete:hover {
		color: $danger-color;
	}

	.icon-plus {
		position: relative;
		width: 16px;
		height: 16px;
		border: 2px solid rgba($body-text-color, .5);
		@include border-radius(3px);

		&:hover {
			border-color: $success-color;
		}

		&:before {
			display: block;
			position: absolute;
			top: 1px;
			left: 0;
			line-height: 1;
			font-size: 16px;
			width: 17px;
			height: 16px;
		}
	}
}


/*=== Layout
==============================================================================================*/
%pocket {
	position: absolute;
	top: 115px;
	bottom: 0;
	overflow-x: hidden;
	@include box-sizing(border-box);
}

#main {
	@extend .clear-after;

	position: relative;
	background: $main-bg-color;
	color: $main-text-color;
	padding: 20px;

	&.loader:before {
		content: "";
		@include loading-cube;
	}
	&.loader.loaded:before {
		display: none;
	}

	*:last-child {
		margin-bottom: 0;
	}

	body > & {
		@extend %pocket;

		left: 0;
		right: 0;
	}
}
#pocket_body {
	@extend %pocket;

	left: 0;
	right: 300px;

	> #main {
		min-height: 100%;
		@include box-sizing(border-box);
	}
}

#pocket_side {
	@extend %pocket;

	right: 0;
	width: 300px;
	padding: 0 20px 20px;
}

#pocket_side,
.pocket_side {
	a {
		color: rgba($body-text-color, .5);

		&:hover {
			color: $primary-color;
		}
	}

	h2 {
		@extend .clear-after;

		font-size: 14px;
		font-weight: bold;
		line-height: 1;
		overflow: visible;
		margin-bottom: 20px;
		letter-spacing: 1px;
		cursor: default;

		> a {
			color: rgba($body-text-color, .5);
			float: right;
			font-size: 22px;
			line-height: 1;
			margin: -5px 0 -7px 10px;

			&:before {
				padding: 0;
			}

			&:hover {
				color: $primary-color;
			}
		}

		small {
			opacity: .5;
			font-weight: normal;
		}
	}

	h2 + .btn {
		margin-top: 20px;
	}

	section {
		@extend .clear-after;

		margin-bottom: 40px;
	}
}


/*=== Menubar
==============================================================================================*/
.menubar {
	@extend .clear-after;

	background: $menubar-bg-color;
	width: 100%;
	height: 42px;
	padding: 10px 20px;
	@include box-sizing(border-box);

	> ul {
		@extend .menu;
		@extend .compact;
		float: left;

		&.right {
			float: right;
		}

		li {
			height: 22px;
			line-height: 22px;
			vertical-align: middle;
			font-weight: bold;
			color: $menubar-text-color;

			&.divide {
				border-left: 1px solid #d3d0ca;
				padding-left: 20px;
			}

			a {
				color: $menubar-text-color;
			}
			&.selected a,
			a.hover,
			a:hover {
				color: $primary-color;
			}

			a[class*="icon-"] {
				position: relative;
				font-size: 18px;
				top: -2px;

				&:before {
					padding-right: 0;
				}
			}
		}

		li + li {
			margin-left: 20px;
		}
	}
}


