
/*	Compass Config
-----------------------------------------------*/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;


/*	Font
-----------------------------------------------*/
$family: unquote("'Open Sans', Arial, Helvetica, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo");


/*	Color Scheme
-----------------------------------------------*/

$body-text-color: #88959e;
$body-bg-color: #202329;

$header-bg-color: #202329;
$header-text-color: #88959e;

$menubar-bg-color: #e6e2d8;
$menubar-text-color: #88857c;

$main-bg-color: #f6f6f6;
$main-text-color: #666;
$main-rule-color: #d0d0d0;

$side-bg-color: #34373c;
$side-text-color: $menubar-bg-color;
$side-muted-text-color: $menubar-text-color;

$primary-color: #287d7a;

$success-color: #8c9a31;
$danger-color: #bd3c3c;
$warning-color: #d69a32;
$info-color: #3383a0;
$muted-color: #aaa;

$single-selection-color: #e6eaea;
$multiple-selection-color: #ebece6;

$anchor-color: $primary-color;
$anchor-active-color: darken($anchor-color, 20%);

$form-base-color: $menubar-text-color;
$form-base-hover-color: darken($menubar-text-color, 5%);

$ga-color: #d08039;
$facebook-color: desaturate(#3b5998, 20%);
$twitter-color: desaturate(#00acee, 45%);


/*	Easing
-----------------------------------------------*/
$funcy-easing: cubic-bezier(.77, 0, .175, 1);


/*	Grid System
-----------------------------------------------*/
$grid-columns: 12;
$grid-gutter: 25px;
$grid-width: 100%;
