
/*	Compass Config
-----------------------------------------------*/
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$experimental-support-for-mozilla: true;
$experimental-support-for-webkit: true;
$experimental-support-for-opera: true;
$experimental-support-for-microsoft: true;


/*	Font
-----------------------------------------------*/
$family: unquote("'Open Sans', Arial, Helvetica, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo");


/*	Color Scheme
-----------------------------------------------*/
$body-bg-color: #445360;
$body-text-color: #ebe8e1;

$header-bg-color: #29323a; // rgba(#000, .4) on $body-bg-color

$main-bg-color: #f5f5f5;
$main-text-color: #666;
$main-rule-color: #d0d0d0;

$menubar-bg-color: #ebe8e1;
$menubar-text-color: #95938f; // rgba(#000, .4);

$primary-color: #d08039;

$success-color: #9eaf2f;
$danger-color: #d34343;
$warning-color: #dcba00;
$info-color: #439bbb;
$muted-color: #aaa;

// $main-bg-color + rgba($primary-color, .05)
$single-selection-color: #f2eeea;
// $main-bg-color + rgba($success-color, .05)
$multiple-selection-color: #f0f0ea;

$anchor-color: $primary-color;
$anchor-active-color: darken($anchor-color, 20%);

$facebook-color: desaturate(#3b5998, 20%);
$twitter-color: desaturate(#00acee, 45%);


/*	Easing
-----------------------------------------------*/
$funcy-easing: cubic-bezier(.77, 0, .175, 1);


/*	Grid System
-----------------------------------------------*/
$grid-columns: 12;
$grid-gutter: 20px;
$grid-width: 100%;
