
body#posts.index {

	#posts_list {
		tbody {
			td.privated a:after {
				@extend %icon;
				content: "\E086";
				font-size: 18px;
				padding: 0 0 0 5px;
				color: $warning-color;
			}

			.post-thumbnail {
				width: 80px;
				height: 57px;
			}
		}
	}

}

