
.col-abcd-a
  %table.table
    %thead
      %tr
        %th class
        %th アイコン

    %tbody
      %tr
        %td .icon-table
        %td
          %i.icon-table.icon-large

      %tr
        %td .icon-copy
        %td
          %i.icon-copy.icon-large

      %tr
        %td .icon-cut
        %td
          %i.icon-cut.icon-large

      %tr
        %td .icon-backspace
        %td
          %i.icon-backspace.icon-large

      %tr
        %td .icon-alignleft
        %td
          %i.icon-alignleft.icon-large

      %tr
        %td .icon-aligncenter
        %td
          %i.icon-aligncenter.icon-large

      %tr
        %td .icon-alignright
        %td
          %i.icon-alignright.icon-large

      %tr
        %td .icon-alignadjust
        %td
          %i.icon-alignadjust.icon-large

      %tr
        %td .icon-italic
        %td
          %i.icon-italic.icon-large

      %tr
        %td .icon-bold
        %td
          %i.icon-bold.icon-large

      %tr
        %td .icon-underline
        %td
          %i.icon-underline.icon-large

      %tr
        %td .icon-strike
        %td
          %i.icon-strike.icon-large

      %tr
        %td .icon-emphasis
        %td
          %i.icon-emphasis.icon-large

      %tr
        %td .icon-code
        %td
          %i.icon-code.icon-large

      %tr
        %td .icon-link
        %td
          %i.icon-link.icon-large

      %tr
        %td .icon-quote
        %td
          %i.icon-quote.icon-large

      %tr
        %td .icon-graph
        %td
          %i.icon-graph.icon-large

      %tr
        %td .icon-magic
        %td
          %i.icon-magic.icon-large

      %tr
        %td .icon-brush
        %td
          %i.icon-brush.icon-large

      %tr
        %td .icon-color
        %td
          %i.icon-color.icon-large

      %tr
        %td .icon-contrast
        %td
          %i.icon-contrast.icon-large

      %tr
        %td .icon-ink
        %td
          %i.icon-ink.icon-large

      %tr
        %td .icon-gradation
        %td
          %i.icon-gradation.icon-large

      %tr
        %td .icon-sepia
        %td
          %i.icon-sepia.icon-large

      %tr
        %td .icon-invert
        %td
          %i.icon-invert.icon-large

      %tr
        %td .icon-paint
        %td
          %i.icon-paint.icon-large

      %tr
        %td .icon-paramater
        %td
          %i.icon-paramater.icon-large

      %tr
        %td .icon-crop
        %td
          %i.icon-crop.icon-large

      %tr
        %td .icon-check
        %td
          %i.icon-check.icon-large

      %tr
        %td .icon-checkbox
        %td
          %i.icon-checkbox.icon-large

      %tr
        %td .icon-checkboxempty
        %td
          %i.icon-checkboxempty.icon-large

      %tr
        %td .icon-pc
        %td
          %i.icon-pc.icon-large

      %tr
        %td .icon-keyboard
        %td
          %i.icon-keyboard.icon-large

      %tr
        %td .icon-mobile
        %td
          %i.icon-mobile.icon-large

      %tr
        %td .icon-horizontal
        %td
          %i.icon-horizontal.icon-large

      %tr
        %td .icon-vertical
        %td
          %i.icon-vertical.icon-large

      %tr
        %td .icon-web
        %td
          %i.icon-web.icon-large

      %tr
        %td .icon-mail
        %td
          %i.icon-mail.icon-large

      %tr
        %td .icon-shopping
        %td
          %i.icon-shopping.icon-large

      %tr
        %td .icon-dashboard
        %td
          %i.icon-dashboard.icon-large

      %tr
        %td .icon-key
        %td
          %i.icon-key.icon-large

      %tr
        %td .icon-sns
        %td
          %i.icon-sns.icon-large

      %tr
        %td .icon-calendar
        %td
          %i.icon-calendar.icon-large

      %tr
        %td .icon-dailycalendar
        %td
          %i.icon-dailycalendar.icon-large

      %tr
        %td .icon-ban
        %td
          %i.icon-ban.icon-large

      %tr
        %td .icon-remove
        %td
          %i.icon-remove.icon-large

      %tr
        %td .icon-pen
        %td
          %i.icon-pen.icon-large

      %tr
        %td .icon-eraser
        %td
          %i.icon-eraser.icon-large

      %tr
        %td .icon-edit
        %td
          %i.icon-edit.icon-large

      %tr
        %td .icon-tabs
        %td
          %i.icon-tabs.icon-large

      %tr
        %td .icon-tag
        %td
          %i.icon-tag.icon-large

      %tr
        %td .icon-setup
        %td
          %i.icon-setup.icon-large

      %tr
        %td .icon-setting
        %td
          %i.icon-setting.icon-large

      %tr
        %td .icon-etc
        %td
          %i.icon-etc.icon-large

      %tr
        %td .icon-clip
        %td
          %i.icon-clip.icon-large

      %tr
        %td .icon-bookmark
        %td
          %i.icon-bookmark.icon-large

      %tr
        %td .icon-book
        %td
          %i.icon-book.icon-large

      %tr
        %td .icon-album
        %td
          %i.icon-album.icon-large

      %tr
        %td .icon-user
        %td
          %i.icon-user.icon-large

      %tr
        %td .icon-friend
        %td
          %i.icon-friend.icon-large





.col-abcd-b
  %table.table
    %thead
      %tr
        %th class
        %th アイコン

    %tbody
      %tr
        %td .icon-wink
        %td
          %i.icon-wink.icon-large

      %tr
        %td .icon-smile
        %td
          %i.icon-smile.icon-large

      %tr
        %td .icon-surprise
        %td
          %i.icon-surprise.icon-large

      %tr
        %td .icon-trouble
        %td
          %i.icon-trouble.icon-large

      %tr
        %td .icon-male
        %td
          %i.icon-male.icon-large

      %tr
        %td .icon-female
        %td
          %i.icon-female.icon-large

      %tr
        %td .icon-game
        %td
          %i.icon-game.icon-large

      %tr
        %td .icon-globe
        %td
          %i.icon-globe.icon-large

      %tr
        %td .icon-home
        %td
          %i.icon-home.icon-large

      %tr
        %td .icon-building
        %td
          %i.icon-building.icon-large

      %tr
        %td .icon-rss
        %td
          %i.icon-rss.icon-large

      %tr
        %td .icon-server
        %td
          %i.icon-server.icon-large

      %tr
        %td .icon-sitemap
        %td
          %i.icon-sitemap.icon-large

      %tr
        %td .icon-app
        %td
          %i.icon-app.icon-large

      %tr
        %td .icon-memo
        %td
          %i.icon-memo.icon-large

      %tr
        %td .icon-meal
        %td
          %i.icon-meal.icon-large

      %tr
        %td .icon-coffee
        %td
          %i.icon-coffee.icon-large

      %tr
        %td .icon-spa
        %td
          %i.icon-spa.icon-large

      %tr
        %td .icon-college
        %td
          %i.icon-college.icon-large

      %tr
        %td .icon-bag
        %td
          %i.icon-bag.icon-large

      %tr
        %td .icon-present
        %td
          %i.icon-present.icon-large

      %tr
        %td .icon-umbrella
        %td
          %i.icon-umbrella.icon-large

      %tr
        %td .icon-twinkle
        %td
          %i.icon-twinkle.icon-large

      %tr
        %td .icon-crown
        %td
          %i.icon-crown.icon-large

      %tr
        %td .icon-category
        %td
          %i.icon-category.icon-large

      %tr
        %td .icon-circle
        %td
          %i.icon-circle.icon-large

      %tr
        %td .icon-info
        %td
          %i.icon-info.icon-large

      %tr
        %td .icon-help
        %td
          %i.icon-help.icon-large

      %tr
        %td .icon-refreshbutton
        %td
          %i.icon-refreshbutton.icon-large

      %tr
        %td .icon-terminal
        %td
          %i.icon-terminal.icon-large

      %tr
        %td .icon-file
        %td
          %i.icon-file.icon-large

      %tr
        %td .icon-print
        %td
          %i.icon-print.icon-large

      %tr
        %td .icon-delete
        %td
          %i.icon-delete.icon-large

      %tr
        %td .icon-clear
        %td
          %i.icon-clear.icon-large

      %tr
        %td .icon-save
        %td
          %i.icon-save.icon-large

      %tr
        %td .icon-upload
        %td
          %i.icon-upload.icon-large

      %tr
        %td .icon-cloud
        %td
          %i.icon-cloud.icon-large

      %tr
        %td .icon-folder
        %td
          %i.icon-folder.icon-large

      %tr
        %td .icon-camera
        %td
          %i.icon-camera.icon-large

      %tr
        %td .icon-photo
        %td
          %i.icon-photo.icon-large

      %tr
        %td .icon-image
        %td
          %i.icon-image.icon-large

      %tr
        %td .icon-barcode
        %td
          %i.icon-barcode.icon-large

      %tr
        %td .icon-phone
        %td
          %i.icon-phone.icon-large

      %tr
        %td .icon-music
        %td
          %i.icon-music.icon-large

      %tr
        %td .icon-video
        %td
          %i.icon-video.icon-large

      %tr
        %td .icon-playmedia
        %td
          %i.icon-playmedia.icon-large

      %tr
        %td .icon-record
        %td
          %i.icon-record.icon-large

      %tr
        %td .icon-play
        %td
          %i.icon-play.icon-large

      %tr
        %td .icon-pause
        %td
          %i.icon-pause.icon-large

      %tr
        %td .icon-stop
        %td
          %i.icon-stop.icon-large

      %tr
        %td .icon-eject
        %td
          %i.icon-eject.icon-large

      %tr
        %td .icon-bell
        %td
          %i.icon-bell.icon-large

      %tr
        %td .icon-volumeup
        %td
          %i.icon-volumeup.icon-large

      %tr
        %td .icon-volumedown
        %td
          %i.icon-volumedown.icon-large

      %tr
        %td .icon-volume
        %td
          %i.icon-volume.icon-large

      %tr
        %td .icon-off
        %td
          %i.icon-off.icon-large

      %tr
        %td .icon-light
        %td
          %i.icon-light.icon-large

      %tr
        %td .icon-dark
        %td
          %i.icon-dark.icon-large

      %tr
        %td .icon-lock
        %td
          %i.icon-lock.icon-large

      %tr
        %td .icon-unlock
        %td
          %i.icon-unlock.icon-large



.col-abcd-c
  %table.table
    %thead
      %tr
        %th class
        %th アイコン

    %tbody
      %tr
        %td .icon-map
        %td
          %i.icon-map.icon-large

      %tr
        %td .icon-geo
        %td
          %i.icon-geo.icon-large

      %tr
        %td .icon-location
        %td
          %i.icon-location.icon-large

      %tr
        %td .icon-pin
        %td
          %i.icon-pin.icon-large

      %tr
        %td .icon-walking
        %td
          %i.icon-walking.icon-large

      %tr
        %td .icon-bicycle
        %td
          %i.icon-bicycle.icon-large

      %tr
        %td .icon-car
        %td
          %i.icon-car.icon-large

      %tr
        %td .icon-bus
        %td
          %i.icon-bus.icon-large

      %tr
        %td .icon-plane
        %td
          %i.icon-plane.icon-large

      %tr
        %td .icon-compass
        %td
          %i.icon-compass.icon-large

      %tr
        %td .icon-cursor
        %td
          %i.icon-cursor.icon-large

      %tr
        %td .icon-pointer
        %td
          %i.icon-pointer.icon-large

      %tr
        %td .icon-grab
        %td
          %i.icon-grab.icon-large

      %tr
        %td .icon-arrowup
        %td
          %i.icon-arrowup.icon-large

      %tr
        %td .icon-arrowright
        %td
          %i.icon-arrowright.icon-large

      %tr
        %td .icon-arrowdown
        %td
          %i.icon-arrowdown.icon-large

      %tr
        %td .icon-arrowleft
        %td
          %i.icon-arrowleft.icon-large

      %tr
        %td .icon-up
        %td
          %i.icon-up.icon-large

      %tr
        %td .icon-right
        %td
          %i.icon-right.icon-large

      %tr
        %td .icon-down
        %td
          %i.icon-down.icon-large

      %tr
        %td .icon-left
        %td
          %i.icon-left.icon-large

      %tr
        %td .icon-back
        %td
          %i.icon-back.icon-large

      %tr
        %td .icon-next
        %td
          %i.icon-next.icon-large

      %tr
        %td .icon-dropdown
        %td
          %i.icon-dropdown.icon-large

      %tr
        %td .icon-sort
        %td
          %i.icon-sort.icon-large

      %tr
        %td .icon-good
        %td
          %i.icon-good.icon-large

      %tr
        %td .icon-bad
        %td
          %i.icon-bad.icon-large

      %tr
        %td .icon-full
        %td
          %i.icon-full.icon-large

      %tr
        %td .icon-small
        %td
          %i.icon-small.icon-large

      %tr
        %td .icon-move
        %td
          %i.icon-move.icon-large

      %tr
        %td .icon-undo
        %td
          %i.icon-undo.icon-large

      %tr
        %td .icon-forward
        %td
          %i.icon-forward.icon-large

      %tr
        %td .icon-reply
        %td
          %i.icon-reply.icon-large

      %tr
        %td .icon-share
        %td
          %i.icon-share.icon-large

      %tr
        %td .icon-login
        %td
          %i.icon-login.icon-large

      %tr
        %td .icon-logout
        %td
          %i.icon-logout.icon-large

      %tr
        %td .icon-exchange
        %td
          %i.icon-exchange.icon-large

      %tr
        %td .icon-shuffle
        %td
          %i.icon-shuffle.icon-large

      %tr
        %td .icon-repeat
        %td
          %i.icon-repeat.icon-large

      %tr
        %td .icon-refresh
        %td
          %i.icon-refresh.icon-large

      %tr
        %td .icon-sync
        %td
          %i.icon-sync.icon-large

      %tr
        %td .icon-external
        %td
          %i.icon-external.icon-large

      %tr
        %td .icon-addstar
        %td
          %i.icon-addstar.icon-large

      %tr
        %td .icon-star
        %td
          %i.icon-star.icon-large

      %tr
        %td .icon-starempty
        %td
          %i.icon-starempty.icon-large

      %tr
        %td .icon-heart
        %td
          %i.icon-heart.icon-large

      %tr
        %td .icon-heartempty
        %td
          %i.icon-heartempty.icon-large

      %tr
        %td .icon-view
        %td
          %i.icon-view.icon-large

      %tr
        %td .icon-comment
        %td
          %i.icon-comment.icon-large

      %tr
        %td .icon-comments
        %td
          %i.icon-comments.icon-large

      %tr
        %td .icon-plus
        %td
          %i.icon-plus.icon-large

      %tr
        %td .icon-minus
        %td
          %i.icon-minus.icon-large

      %tr
        %td .icon-zoomin
        %td
          %i.icon-zoomin.icon-large

      %tr
        %td .icon-zoomout
        %td
          %i.icon-zoomout.icon-large

      %tr
        %td .icon-search
        %td
          %i.icon-search.icon-large

      %tr
        %td .icon-menu
        %td
          %i.icon-menu.icon-large

      %tr
        %td .icon-tilemenu
        %td
          %i.icon-tilemenu.icon-large

      %tr
        %td .icon-list
        %td
          %i.icon-list.icon-large

      %tr
        %td .icon-tile
        %td
          %i.icon-tile.icon-large

      %tr
        %td .icon-notify
        %td
          %i.icon-notify.icon-large


.col-abcd-d
  %table.table
    %thead
      %tr
        %th class
        %th アイコン

    %tbody
      %tr
        %td .icon-group
        %td
          %i.icon-group.icon-large

      %tr
        %td .icon-frustrate
        %td
          %i.icon-frustrate.icon-large

      %tr
        %td .icon-laugh
        %td
          %i.icon-laugh.icon-large

      %tr
        %td .icon-flag
        %td
          %i.icon-flag.icon-large

      %tr
        %td .icon-wifi
        %td
          %i.icon-wifi.icon-large

      %tr
        %td .icon-time
        %td
          %i.icon-time.icon-large

      %tr
        %td .icon-apple
        %td
          %i.icon-apple.icon-large

      %tr
        %td .icon-android
        %td
          %i.icon-android.icon-large

      %tr
        %td .icon-windows
        %td
          %i.icon-windows.icon-large

      %tr
        %td .icon-ubuntu
        %td
          %i.icon-ubuntu.icon-large

      %tr
        %td .icon-amazon
        %td
          %i.icon-amazon.icon-large

      %tr
        %td .icon-facebook
        %td
          %i.icon-facebook.icon-large

      %tr
        %td .icon-twitter
        %td
          %i.icon-twitter.icon-large

      %tr
        %td .icon-vk
        %td
          %i.icon-vk.icon-large

      %tr
        %td .icon-google
        %td
          %i.icon-google.icon-large

      %tr
        %td .icon-yahoo
        %td
          %i.icon-yahoo.icon-large

      %tr
        %td .icon-bing
        %td
          %i.icon-bing.icon-large

      %tr
        %td .icon-hatena
        %td
          %i.icon-hatena.icon-large

      %tr
        %td .icon-hatenabookmark
        %td
          %i.icon-hatenabookmark.icon-large

      %tr
        %td .icon-digg
        %td
          %i.icon-digg.icon-large

      %tr
        %td .icon-linkedin
        %td
          %i.icon-linkedin.icon-large

      %tr
        %td .icon-myspace
        %td
          %i.icon-myspace.icon-large

      %tr
        %td .icon-paperboy
        %td
          %i.icon-paperboy.icon-large

      %tr
        %td .icon-mixi
        %td
          %i.icon-mixi.icon-large

      %tr
        %td .icon-line
        %td
          %i.icon-line.icon-large

      %tr
        %td .icon-mobage
        %td
          %i.icon-mobage.icon-large

      %tr
        %td .icon-gree
        %td
          %i.icon-gree.icon-large

      %tr
        %td .icon-skype
        %td
          %i.icon-skype.icon-large

      %tr
        %td .icon-aim
        %td
          %i.icon-aim.icon-large

      %tr
        %td .icon-yelp
        %td
          %i.icon-yelp.icon-large

      %tr
        %td .icon-foursquare
        %td
          %i.icon-foursquare.icon-large

      %tr
        %td .icon-pinterest
        %td
          %i.icon-pinterest.icon-large

      %tr
        %td .icon-flickr
        %td
          %i.icon-flickr.icon-large

      %tr
        %td .icon-tumblr
        %td
          %i.icon-tumblr.icon-large

      %tr
        %td .icon-wordpress
        %td
          %i.icon-wordpress.icon-large

      %tr
        %td .icon-blogger
        %td
          %i.icon-blogger.icon-large

      %tr
        %td .icon-evernote
        %td
          %i.icon-evernote.icon-large

      %tr
        %td .icon-dropbox
        %td
          %i.icon-dropbox.icon-large

      %tr
        %td .icon-slideshare
        %td
          %i.icon-slideshare.icon-large

      %tr
        %td .icon-github
        %td
          %i.icon-github.icon-large

      %tr
        %td .icon-yapcasialogomark
        %td
          %i.icon-yapcasialogomark.icon-large

      %tr
        %td .icon-dribbble
        %td
          %i.icon-dribbble.icon-large

      %tr
        %td .icon-cookpad
        %td
          %i.icon-cookpad.icon-large

      %tr
        %td .icon-instapaper
        %td
          %i.icon-instapaper.icon-large

      %tr
        %td .icon-readability
        %td
          %i.icon-readability.icon-large

      %tr
        %td .icon-gumroad
        %td
          %i.icon-gumroad.icon-large

      %tr
        %td .icon-picasa
        %td
          %i.icon-picasa.icon-large

      %tr
        %td .icon-instagram
        %td
          %i.icon-instagram.icon-large

      %tr
        %td .icon-delicious
        %td
          %i.icon-delicious.icon-large

      %tr
        %td .icon-youtube
        %td
          %i.icon-youtube.icon-large

      %tr
        %td .icon-vimeo
        %td
          %i.icon-vimeo.icon-large

      %tr
        %td .icon-ustream
        %td
          %i.icon-ustream.icon-large

      %tr
        %td .icon-soundcloud
        %td
          %i.icon-soundcloud.icon-large

      %tr
        %td .icon-chrome
        %td
          %i.icon-chrome.icon-large

      %tr
        %td .icon-safari
        %td
          %i.icon-safari.icon-large

      %tr
        %td .icon-sleipnir
        %td
          %i.icon-sleipnir.icon-large

      %tr
        %td .icon-firefox
        %td
          %i.icon-firefox.icon-large

      %tr
        %td .icon-opera
        %td
          %i.icon-opera.icon-large

      %tr
        %td .icon-internetexplorer
        %td
          %i.icon-internetexplorer.icon-large

%br.clear