<td><input type="checkbox" class="checkbox size-large"></td>
<td>
	<a href="<%= edit_link %>" class="post-thumbnail">
		<img src="<%= thumbnail %>" alt="" width="80" height="57">
	</a>
</td>
<td class="<%= ['privated', 'published'][status] %>"><a href="<%= edit_link %>"><%= title %></a></td>
<td><%= ['非公開', '公開'][status] %></td>
<td><%= user_name %></td>
<td><%= date_str %> <%= time_str %></td>
<td class="controller">
	<a href="<%= edit_link %>" class="btn btn-primary icon-edit size-small" title="編集"></a>
	<button class="btn btn-danger icon-delete size-small" title="削除"></button>
	<a href="<%= link %>" class="btn icon-link size-small" title="サイトで表示" target="_blank"></a>
</td>