- content_for :menubar do
  = link_to '', post_path(@post), target: '_blank', class: 'icon-link', title: 'サイトで見る'
  = link_to '', post_path(@post), class: 'icon-comments', title: 'この記事に対するコメント'

= render 'form'
