
body#admin.index {

	#activities {
		background: $primary-color;
		position: relative;
		height: 250px;
		width: 100%;

		.ui-chart {
			position: absolute;
			top: 0;
			left: 0;
			height: 250px;
			width: 100%;
			background: none;

			.ui-chart-container {
				top: 60px;
			}
		}

		#commits {
			.bar {
				background: #71a9a7;
			}
			.label {
				display: none;
			}
		}

		h2 {
			color: #fff;
			border: none;
			padding: 25px;
			margin: 0;
			line-height: 1;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
			letter-spacing: 1px;
		}

	}

	#google_analytics_ {
		background: $ga-color;

		.dot {
			border: 2px solid $ga-color;
		}
	}

}
