
body#admin.index {

	.ui-line-chart {
		height: 250px;

		+ .ui-line-chart {
			margin-top: 25px;
		}

		h2 {
			color: #fff;
			border: none;
			padding: 20px;
			margin: 0;
			line-height: 1;
		}
	}

	#activities {
		background: $info-color;

		.dot {
			border: 2px solid $info-color;
		}
	}

	#google_analytics {
		background: $ga-color;

		.dot {
			border: 2px solid $ga-color;
		}
	}

	#twitter_share {
		width: 100%;
		height: 250px;
		background: $twitter-color;
		text-align: center;

		span {
			display: block;
			color: #fff;
			margin-top: 30px;
			font-size: 64px;
			line-height: 64px;

			&:after {
				display: block;
				content: "shares";
				font-size: 14px;
				opacity: .5;
				line-height: 14px;
				margin-top: 10px;
				font-weight: bold;
				text-transform: uppercase;
			}
		}

		h2 {
			color: #fff;
			border: none;
			padding: 20px;
			margin: 0;
			line-height: 1;
		}
	}

	#facebook_reports {
		position: relative;
		width: 100%;
		height: 250px;
		background: $facebook-color;
		text-align: center;
		margin-bottom: 25px;

		h2 {
			color: #fff;
			border: none;
			padding: 20px;
			margin: 0;
			line-height: 1;
		}

		.dot {
			border-color: $facebook-color;
		}
	}

}
