

#main

  #google_analytics

  :coffee

    require ['components/line_chart', 'domReady!'], (LineChart) ->

      LineChart.attachTo '#google_analytics',
        unit: ' PV'
        data: [70, 200, 90, 110, 35, 300, 125]
        labels: ['sunday', 'monday', 'tuesday', 'wednesday', 'friday', 'thursday', 'saturday']


  != '<br>' * 3

  = render file: '/admin/sample/all'

