
#main

  #activities.loader
    %h2 Activities & Reactions
    #commits
    #google_analytics

  %table.table.table-fixed
    %thead
      %tr
        %th ページ
        %th{ width: 80 } PV
        %th{ width: 80 } オーガニック
        %th{ width: 60 } 新規
        %th{ width: 60 } 離脱率
        %th{ width: 80 } 検索エンジン

    %tbody#google_analytics_table


  != '<br>' * 3

  = render file: '/admin/sample/all'

