
/*=== Alert
==============================================================================================*/
.alert {
	@extend .popup-box;
	@include popup-animation;

	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -207px;
	margin-top: -100px;
	@include box-sizing(border-box);
	width: 415px;
	padding: 20px;
	z-index: 3001;
	border: 3px solid $main-bg-color;

	h2 {
		font-size: 20px;
		line-height: 1;
		margin-bottom: 20px;
		color: $body-bg-color;
	}

	p {
		color: $main-text-color;
		margin-bottom: 10px;
	}

	footer {
		@extend .clear-after;
		margin-top: 20px;

		.btn {
			margin: 0 20px 0 0;
		}
		.btn.float-right {
			margin: 0 0 0 20px;
		}
	}

	&.danger {
		border-color: $danger-color;

		h2 {
			color: $danger-color;
		}
	}
	&.success {
		border-color: $success-color;

		h2 {
			color: $success-color;
		}
	}
}
