
.ui-line-chart {
	position: relative;
	background: $primary-color;
	overflow: hidden;

	.line-chart-container {
		position: absolute;
		top: 25px;
		right: 20px;
		bottom: 50px;
		left: 20px;
		overflow: visible;
	}

	.line {
		position: absolute;
		height: 3px;
		z-index: 10;
		background: $main-bg-color;
		@include transform-origin(0 50%);
	}

	.dot {
		position: absolute;
		width: 6px;
		height: 6px;
		background: $main-bg-color;
		border: 2px solid $primary-color;
		margin-bottom: -4px;
		margin-left: -5px;
		z-index: 11;
		@include border-radius(50%);
		@include transition(width .3s, height .3s, margin .3s);

		&:hover {
			width: 12px;
			height: 12px;
			margin-bottom: -7px;
			margin-left: -8px;
		}
	}

	.label {
		position: absolute;
		bottom: -32px;
		width: 100px;
		text-align: center;
		margin-left: -50px;
		color: rgba(#fff, .5);
		font-size: 11px;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 1;
		@include experimental(user-select, none);
		cursor: default;

		&.first {
			text-align: left;
			margin-left: -2px;
		}
		&.last {
			text-align: right;
			margin-left: -100px + 3px;
		}
	}
}
