
/*=== Modal
==============================================================================================*/
.modal {
	@extend .popup-box;
	@include popup-animation;

	position: fixed;
	top: 25px;
	bottom: 25px;
	left: 25px;
	right: 25px;
	z-index: 2001;

	> .close-btn {
		position: absolute;
		right: -11px;
		top: -11px;
		background: $globalnav-bg-color;
		width: 22px;
		height: 22px;
		border: 2px solid $titlebar-bg-color;
		cursor: pointer;
		@include border-radius(50%);
		@include transition(background .3s);
		z-index: 4000;

		&:before, &:after {
			content: "";
			display: block;
			position: absolute;
			background: $titlebar-bg-color;
			top: 9px;
			left: 5px;
			height: 3px;
			width: 12px;
		}

		&:before {
			@include transform(rotate(45deg));
		}
		&:after {
			@include transform(rotate(-45deg));
		}

		&:hover {
			background: $primary-color;
		}
	}

	> div {
		position: relative;
		width: 100%;
		height: 100%;
	}
}


.modal-header {
	height: 70px;
	background: $titlebar-bg-color;
	@include border-radius(3px 3px 0 0);

	h2 {
		font-size: 20px;
		padding: 25px;
		line-height: 1;
		letter-spacing: 1px;
		color: $main-text-color;
	}
}

.modal-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: $main-text-color;
	padding: 25px;

	.has-header & {
		top: 70px;
	}
	.has-footer & {
		bottom: 75px;
	}

	.modal-body,
	.modal-side {
		position: absolute;
		top: 0;
		bottom: 0;
		overflow-x: hidden;
		@include box-sizing(border-box);
	}

	.modal-body {
		left: 0;
		right: 300px;
		padding: 25px;
	}
	.modal-side {
		@extend .pocket_side;

		right: 0;
		width: 300px;
		padding: 25px;
		background: $side-bg-color;
		color: $side-text-color;
	}
}

.modal-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	background: $titlebar-bg-color;
	padding: 20px 25px;
	@include box-sizing(border-box);
	@include border-radius(0 0 3px 3px);
}
