
/*=== Table
==============================================================================================*/
table.form {
	width: 100%;

	tr + tr > td {
		padding-top: 10px;
	}
	td + td {
		padding-left: 10px;
	}

	tr.doubled > td {
		padding-top: 20px !important;
	}
	tr.condensed > td {
		padding-top: 10px !important;
	}

	&.table-doubled {
		tr + tr > td {
			padding-top: 20px;
		}
		td + td {
			padding-left: 20px;
		}
	}

	h3 {
		margin-bottom: 10px;
		line-height: 1;
	}
}
table.table {
	font-size: 1em;
	border-collapse: collapse;
	margin-bottom: 1em;
	width: 100%;

	caption {
		padding-bottom: 0.5em;
	}
	tbody th {
		text-align: left;
	}

	td {
		line-height: 1.35;
	}
	td,
	th {
		padding: 10px 20px;
	}
	td + td,
	th + th {
		padding-left: 0;
	}

	thead {
		tr {
			background: $menubar-bg-color;
			width: 100%;
			height: 42px;
			padding: 15px 20px;

			color: rgba(#000, .5);
		}

		th:after {
			font-family: "LigatureSymbols";
			padding-left: .5em;
		}

		th[data-sort] {
			cursor: pointer;
			@include transition(color .3s);

			&:hover {
				color: $primary-color;
			}
			&:after {
				content: "\E120";
				opacity: .6;
			}

			&.desc:after {
				content: "\E03e";
			}
			&.asce:after {
				content: "\E135";
			}
		}

	}
	tbody {
		tr {
			@include transition(background-color .3s);
			border-bottom: 1px solid $main-rule-color;

			&.selected,
			&.selected:hover {
				background-color: rgba($success-color, .1);
			}
		}

		td {

			> input[type=checkbox] {
				margin: 0;
			}
		}
	}

	thead th,
	.headerBlock th {
		// background: $sub-base-color;
		font-weight: bold;
	}
}

table.table-hover {
	tbody tr {
		&:hover {
			background-color: lighten($menubar-bg-color, 5%);
		}
	}
}

table.table-stripe-v tbody tr:nth-child(even),
table.table-stripe-h tbody td:nth-child(even) {
	background-color: #f3f7fb;
}
