<% if (is_image) { %>
	<div class="preview-image" style="background-image: url(<%= thumbnail %>)">
		<% if (title) { %>
			<div class="title"><%- title %></div>
		<% } else { %>
			<div class="progressbar">
				<div></div>
			</div>
		<% } %>
	</div>
<% } else { %>
	<div class="preview-image file">
		<% if (title) { %>
			<div class="title"><%- title %></div>
			<div class="info">
				<span class="icon-file"><%- file_type %></span>
			</div>
		<% } else { %>
			<div class="progressbar">
				<div></div>
			</div>
		<% } %>
	</div>
<% } %>